.block-views-blockmedium-news-block-2 {
  .views-field-field-image-news {
    float: left;
    padding-right: rem(20);
  }

  .views-field-title {
    font-weight: 600;
    font-size: rem(20);
    line-height: 1.2rem;
  }

  text-align: start;
}
