.site-footer__top {
  .field--name-created {
    font-size: rem(12);
    color: $grey;
  }

  .block {
    padding-top: 0;
    padding-bottom: 0;
    margin: rem(3);
  }

  .image-style-small-footer {
    max-width: 111px;
  }

  .block-field-blocknodenewscreated {
    padding-top: 0;
  }

  font-size: rem(18);

  h2 {
    text-transform: none;
    font-weight: 900;

  }

  display: flex;
  flex-wrap: nowrap;

  .region-footer-first {
    width: 33.33%;

  }

  .region-footer-second {
    width: 33.33%;
  }

  .region-footer-third {
    width: 33.33%;

    .views-row {
      display: flex;
      justify-content: space-between;
      line-height: 2rem;

      .views-field-field-tagnews {
        a {
          &:hover {
            color: $yellow;
          }
        }
      }
    }
  }
}

