$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

$fonts-global: open-sans;
$grey: #767676;
$author: #000;
$yellow: #ffcd3f;
.contextual-region {
  a {
    color: black;
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

.views-field-field-slogan {
  color: $grey;
}
.site-footer {
  background-color: grey!important;
}
.site-branding {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-wrap: nowrap;
  @include media-breakpoint-max($md) {
    justify-content: center;
    a {
      font-size: 30px;
    }
  }

  .site-branding__slogan {
    font-size: rem(10);
    line-height: rem(1);
  }
}
