.medium-block {
  //.image-style-medium-content {
  //    width: 100%;
  //}
  .node__content {
    font-size: 0.9em;
    text-align:start;
    .field--name-field-tagnews {
      margin-top: -32px;
      font-size:0.7em;
      position:absolute;
    }
  }
}
