.medium-block {
  .node__content {
    font-size: 0.9em;
    text-align:start;
    img {
      width: 100%;
    }
    .field--name-field-tagnews {
      margin-top: -32px;
      font-size:0.7em;
      position:absolute;
    }
  }
}
